socket_port = 4681

authentication {
	raw = { }
	manage = { "manage1", "manage2" }
	read = { "" }
}

crate {
	host = "192.168.1.240"
	mch = "VadaTech"
	username = ""
	password = "vadatech"
	authtype = none # NONE MD2 MD5 STRAIGHT_PASSWORD_KEY
	description = "Left Crate"
	enabled = false
}

crate {
	host = "192.168.2.240"
	mch = "VadaTech"
	username = ""
	password = "vadatech"
	authtype = none
	description = "Right Crate"
}

crate {
	host = "192.168.3.240"
	mch = "NAT"
	username = ""
	password = ""
	authtype = none
	description = "Spare Crate"
}
