socket_port = 4681

# If ratelimit_delay is set, it defines the number of microseconds that the
# system manager will sleep after sending a command to a crate on behalf of a
# client application.  This can be used to avoid session timeouts due to
# excessive rates of requests.
#
# Note that this will suspend only the individual crate thread, and other
# crates will remain unaffected, as will any operation that does not access an
# individual crate.  The default, 0, is no delay.
ratelimit_delay = 100000

authentication {
	raw = { }
	manage = { "manage1", "manage2" }
	read = { "" }
}

crate {
	host = "192.168.1.240"
	mch = "VadaTech"
	username = ""
	password = "vadatech"
	authtype = none # NONE MD2 MD5 STRAIGHT_PASSWORD_KEY
	description = "Left Crate"
	enabled = false
}

crate {
	host = "192.168.2.240"
	mch = "VadaTech"
	username = ""
	password = "vadatech"
	authtype = none
	description = "Right Crate"
}

crate {
	host = "192.168.3.240"
	mch = "NAT"
	username = ""
	password = ""
	authtype = none
	description = "Spare Crate"
}
